* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #10152f, #241b4b, #392b68);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 650px;
}

.tela {
    background: #171b35;
    border: 1px solid #555b91;
    border-radius: 22px;
    padding: 35px 25px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.4);
    text-align: center;
}

.emoji {
    font-size: 55px;
    margin-bottom: 15px;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

h2 {
    font-size: 23px;
    line-height: 1.4;
    margin: 25px 0;
}

p {
    color: #d7d9ec;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.subtitulo {
    color: #aeb5ff;
    font-size: 19px;
    font-weight: bold;
}

button {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 15px;
    background: #7767e8;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #6252d4;
}

.topo {
    display: flex;
    justify-content: space-between;
    color: #aeb5ff;
    font-weight: bold;
    margin-bottom: 10px;
}

.alternativa {
    width: 100%;
    background: #222747;
    border: 1px solid #555b91;
    color: white;
    padding: 16px;
    border-radius: 12px;
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.alternativa:hover {
    background: #302f5c;
    border-color: #8b7ff0;
}

.resultado-box {
    background: #222747;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #555b91;
}

.resultado-box h2 {
    color: #aeb5ff;
    margin: 0 0 10px;
}

.escondido {
    display: none;
}

@media (max-width: 500px) {
    .tela {
        padding: 28px 18px;
    }

    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}
